html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::selection {
  background: #262a30;
  color: #fff;
}
body {
  background: #fff;
  color: #555;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1em;
  line-height: 2;
  position: relative;
}
@media (max-width: 991px) {
  body {
    padding-right: 0 !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 15px;
  padding: 0;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.625em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.375em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1.125em;
}
p {
  margin: 0 0 20px 0;
}
a,
span.exturl {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: transparent;
  border-bottom: 1px solid #999;
  color: #555;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
span.exturl:hover {
  border-bottom-color: #222;
  color: #222;
}
video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
hr {
  background-color: #ddd;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  border: none;
  height: 3px;
  margin: 40px 0;
}
blockquote {
  border-left: 4px solid #ddd;
  color: #666;
  margin: 0;
  padding: 0 15px;
}
blockquote cite::before {
  content: '-';
  padding: 0 5px;
}
dt {
  font-weight: 700;
}
dd {
  margin: 0;
  padding: 0;
}
kbd {
  background-color: #f9f9f9;
  background-image: linear-gradient(top, #eee, #fff, #eee);
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.1);
  font-family: inherit;
  padding: 0.1em 0.3em;
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}
.clearfix::after {
  clear: both;
}
.pullquote {
  width: 45%;
}
.pullquote.left {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}
.pullquote.right {
  float: right;
  margin-left: 10px;
  margin-right: 5px;
}
.affix {
  position: fixed;
}
.translation {
  color: #999;
  font-size: 0.875em;
  margin-top: -20px;
}
.scrollbar-measure {
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 100px;
}
.use-motion .motion-element {
  opacity: 0;
}
.table-container {
  margin: 20px 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.highlight .table-container {
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875em;
  width: 100%;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}
caption,
th,
td {
  font-weight: normal;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
th,
td {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
}
th {
  font-weight: 700;
  padding-bottom: 10px;
}
td {
  border-bottom-width: 1px;
}
html,
body {
  height: 100%;
}
.container {
  position: relative;
}
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: 700px;
}
@media (min-width: 1200px) {
  .container .header-inner {
    width: 800px;
  }
}
@media (min-width: 1600px) {
  .container .header-inner {
    width: 900px;
  }
}
.main-inner {
  margin: 0 auto;
  width: 700px;
}
@media (min-width: 1200px) {
  .container .main-inner {
    width: 800px;
  }
}
@media (min-width: 1600px) {
  .container .main-inner {
    width: 900px;
  }
}
.footer {
  padding: 20px 0;
}
.footer-inner {
  box-sizing: border-box;
  margin: 0 auto;
  width: 700px;
}
@media (min-width: 1200px) {
  .container .footer-inner {
    width: 800px;
  }
}
@media (min-width: 1600px) {
  .container .footer-inner {
    width: 900px;
  }
}
pre,
.highlight {
  background: #f7f7f7;
  color: #4d4d4c;
  line-height: 1.6;
  margin: 20px 0;
}
pre,
code {
  font-family: 'PT Mono', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  background: #eee;
  border-radius: 3px;
  color: #555;
  padding: 2px 4px;
}
pre {
  overflow: auto;
  padding: 10px;
}
pre code {
  background: none;
  color: #4d4d4c;
  padding: 0;
  text-shadow: none;
}
.highlight *::selection {
  background: #d6d6d6;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  border: none;
  margin: 0;
  width: auto;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  background: #eee;
  border-bottom: 1px solid #e9e9e9;
  color: #4d4d4c;
  line-height: 1em;
  margin: 0;
  padding: 0.5em;
}
.highlight figcaption::before,
.highlight figcaption::after {
  content: ' ';
  display: table;
}
.highlight figcaption::after {
  clear: both;
}
.highlight figcaption a {
  color: #4d4d4c;
  float: right;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  background-color: #eff2f3;
  color: #869194;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
.highlight .code pre {
  background-color: #f7f7f7;
  padding-left: 10px;
  width: 100%;
}
.gutter {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #eab700;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .name,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .symbol,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.blockquote-center,
.page-home .post-type-quote blockquote,
.page-post-detail .post-type-quote blockquote {
  border-left: none;
  margin: 40px 0;
  padding: 0;
  position: relative;
  text-align: center;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before,
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  background-position: 0 -6px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  content: ' ';
  display: block;
  height: 24px;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}
.blockquote-center::before,
.page-home .post-type-quote blockquote::before,
.page-post-detail .post-type-quote blockquote::before {
  background-image: url("../images/quote-l.svg");
  border-top: 1px solid #ccc;
  top: -20px;
}
.blockquote-center::after,
.page-home .post-type-quote blockquote::after,
.page-post-detail .post-type-quote blockquote::after {
  background-image: url("../images/quote-r.svg");
  background-position: 100% 8px;
  border-bottom: 1px solid #ccc;
  bottom: -20px;
}
.blockquote-center p,
.page-home .post-type-quote blockquote p,
.page-post-detail .post-type-quote blockquote p,
.blockquote-center div,
.page-home .post-type-quote blockquote div,
.page-post-detail .post-type-quote blockquote div {
  text-align: center;
}
.post .post-body .group-picture img {
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 3px;
}
.post-body .group-picture-row {
  margin-bottom: 6px;
  overflow: hidden;
}
.post-body .group-picture-column {
  float: left;
  margin-bottom: 10px;
}
.page-archive .group-picture-container {
  overflow: hidden;
}
.page-archive .group-picture-row {
  float: left;
}
.page-archive .group-picture-row:first-child {
  margin-top: 6px;
}
.page-archive .group-picture-column {
  max-height: 150px;
  max-width: 150px;
}
.post-body .label {
  display: inline;
  padding: 0 2px;
}
.post-body .label.default {
  background-color: #f0f0f0;
}
.post-body .label.primary {
  background-color: #efe6f7;
}
.post-body .label.info {
  background-color: #e5f2f8;
}
.post-body .label.success {
  background-color: #e7f4e9;
}
.post-body .label.warning {
  background-color: #fcf6e1;
}
.post-body .label.danger {
  background-color: #fae8eb;
}
.post-body .note {
  margin-bottom: 20px;
  padding: 15px;
  position: relative;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.post-body .note h2,
.post-body .note h3,
.post-body .note h4,
.post-body .note h5,
.post-body .note h6 {
  margin-top: 0;
  border-bottom: initial;
  margin-bottom: 0;
  padding-top: 0 !important;
}
.post-body .note p:first-child,
.post-body .note ul:first-child,
.post-body .note ol:first-child,
.post-body .note table:first-child,
.post-body .note pre:first-child,
.post-body .note blockquote:first-child,
.post-body .note img:first-child {
  margin-top: 0;
}
.post-body .note p:last-child,
.post-body .note ul:last-child,
.post-body .note ol:last-child,
.post-body .note table:last-child,
.post-body .note pre:last-child,
.post-body .note blockquote:last-child,
.post-body .note img:last-child {
  margin-bottom: 0;
}
.post-body .note.default {
  border-left-color: #777;
}
.post-body .note.default h2,
.post-body .note.default h3,
.post-body .note.default h4,
.post-body .note.default h5,
.post-body .note.default h6 {
  color: #777;
}
.post-body .note.primary {
  border-left-color: #6f42c1;
}
.post-body .note.primary h2,
.post-body .note.primary h3,
.post-body .note.primary h4,
.post-body .note.primary h5,
.post-body .note.primary h6 {
  color: #6f42c1;
}
.post-body .note.info {
  border-left-color: #428bca;
}
.post-body .note.info h2,
.post-body .note.info h3,
.post-body .note.info h4,
.post-body .note.info h5,
.post-body .note.info h6 {
  color: #428bca;
}
.post-body .note.success {
  border-left-color: #5cb85c;
}
.post-body .note.success h2,
.post-body .note.success h3,
.post-body .note.success h4,
.post-body .note.success h5,
.post-body .note.success h6 {
  color: #5cb85c;
}
.post-body .note.warning {
  border-left-color: #f0ad4e;
}
.post-body .note.warning h2,
.post-body .note.warning h3,
.post-body .note.warning h4,
.post-body .note.warning h5,
.post-body .note.warning h6 {
  color: #f0ad4e;
}
.post-body .note.danger {
  border-left-color: #d9534f;
}
.post-body .note.danger h2,
.post-body .note.danger h3,
.post-body .note.danger h4,
.post-body .note.danger h5,
.post-body .note.danger h6 {
  color: #d9534f;
}
.post-body .tabs {
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
}
.post-body .tabs ul.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs {
    display: block;
    margin-bottom: 5px;
  }
}
.post-body .tabs ul.nav-tabs li.tab {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 3px solid transparent;
  flex-grow: 1;
  list-style-type: none;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs li.tab {
    border-bottom: 1px solid transparent;
    border-left: 3px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
  }
}
.post-body .tabs ul.nav-tabs li.tab a {
  border-bottom: initial;
  display: block;
  line-height: 1.8em;
  outline: 0;
  padding: 0.25em 0.75em;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.post-body .tabs ul.nav-tabs li.tab a i {
  width: 1.285714285714286em;
}
.post-body .tabs ul.nav-tabs li.tab.active {
  border-bottom: 1px solid transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 3px solid #fc6423;
}
@media (max-width: 413px) {
  .post-body .tabs ul.nav-tabs li.tab.active {
    border-bottom: 1px solid #ddd;
    border-left: 3px solid #fc6423;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
}
.post-body .tabs ul.nav-tabs li.tab.active a {
  color: #555;
  cursor: default;
}
.post-body .tabs .tab-content .tab-pane {
  border: 1px solid #ddd;
  padding: 20px 20px 0 20px;
}
.post-body .tabs .tab-content .tab-pane:not(.active) {
  display: none;
}
.post-body .tabs .tab-content .tab-pane.active {
  display: block;
}
.btn {
  background: transparent;
  border: 2px solid #222;
  border-radius: 0;
  color: #555;
  display: inline-block;
  font-size: 0.875em;
  padding: 0 20px;
  text-decoration: none;
  transition-property: background-color;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  line-height: 2;
}
.btn:hover {
  background: #fff;
  border-color: #222;
  color: #222;
}
.btn +.btn {
  margin: 0 0 8px 8px;
}
.btn .fa-fw {
  text-align: left;
  width: 1.285714285714286em;
}
.btn-bar {
  background: #555;
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
}
.btn-bar+.btn-bar {
  margin-top: 4px;
}
.page-number-basic,
.pagination .prev,
.pagination .next,
.pagination .page-number,
.pagination .space {
  display: inline-block;
  margin: 0 10px;
  padding: 0 11px;
  position: relative;
  top: -1px;
}
@media (max-width: 767px) {
  .page-number-basic,
  .pagination .prev,
  .pagination .next,
  .pagination .page-number,
  .pagination .space {
    margin: 0 5px;
  }
}
.pagination {
  border-top: 1px solid #eee;
  margin: 120px 0 40px;
  text-align: center;
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  border-bottom: 0;
  border-top: 1px solid #eee;
  transition-property: border-color;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  border-top-color: #222;
}
.pagination .space {
  margin: 0;
  padding: 0;
}
.pagination .prev {
  margin-left: 0;
}
.pagination .next {
  margin-right: 0;
}
.pagination .page-number.current {
  background: #ccc;
  border-top-color: #ccc;
  color: #fff;
}
@media (max-width: 767px) {
  .pagination {
    border-top: none;
  }
  .pagination .prev,
  .pagination .next,
  .pagination .page-number {
    border-bottom: 1px solid #eee;
    border-top: 0;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .pagination .prev:hover,
  .pagination .next:hover,
  .pagination .page-number:hover {
    border-bottom-color: #222;
  }
}
.comments {
  margin: 60px 20px 0;
  overflow: hidden;
}
.back-to-top {
  background: #222;
  bottom: -100px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  opacity: 1;
  padding: 0 6px;
  position: fixed;
  right: 30px;
  text-align: center;
  transition-property: bottom;
  width: 24px;
  z-index: 1050;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.back-to-top:hover {
  color: #87daff;
}
.back-to-top.back-to-top-on {
  bottom: 19px;
}
@media (max-width: 991px) {
  .back-to-top {
    opacity: 0.8;
    right: 20px;
  }
}
.header {
  background: transparent;
}
.header-inner {
  position: relative;
}
.headband {
  background: #222;
  height: 3px;
}
.site-meta {
  margin: 0;
  text-align: left;
}
@media (max-width: 767px) {
  .site-meta {
    text-align: center;
  }
}
.brand {
  background: #222;
  border-bottom: none;
  color: #222;
  display: inline-block;
  line-height: 1.375em;
  padding: 0 40px;
  position: relative;
}
.brand:hover {
  color: #222;
}
.logo {
  display: inline-block;
  line-height: 36px;
  margin-right: 5px;
  vertical-align: top;
}
.site-title {
  display: inline-block;
  font-family: 'Satisfy', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1.375em;
  font-weight: normal;
  line-height: 1.5;
  vertical-align: top;
}
.site-subtitle {
  color: #999;
  font-size: 0.8125em;
  margin-top: 10px;
}
.use-motion .brand {
  opacity: 0;
}
.use-motion .logo,
.use-motion .site-title,
.use-motion .site-subtitle,
.use-motion .custom-logo-image {
  opacity: 0;
  position: relative;
  top: -10px;
}
.site-nav-toggle {
  display: none;
  left: 10px;
  position: absolute;
}
@media (max-width: 767px) {
  .site-nav-toggle {
    display: block;
  }
}
.site-nav-toggle button {
  background: transparent;
  border: none;
  margin-top: 2px;
  padding: 9px 10px;
}
@media (max-width: 767px) {
  .site-nav {
    border-top: 1px solid #ddd;
    clear: both;
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-nav {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .site-nav {
    display: block !important;
  }
}
.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}
.menu .menu-item {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
@media (max-width: 767px) {
  .menu .menu-item {
    margin-top: 10px;
  }
}
.menu .menu-item a,
.menu .menu-item span.exturl {
  border-bottom: 1px solid transparent;
  display: block;
  font-size: 0.8125em;
  line-height: inherit;
  transition-property: border-color;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.menu .menu-item a:hover,
.menu .menu-item span.exturl:hover {
  border-bottom-color: #222;
}
.menu .menu-item .fa {
  margin-right: 5px;
}
.use-motion .menu-item {
  opacity: 0;
}
.post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.post-body span.exturl .fa {
  font-size: 0.875em;
  margin-left: 4px;
}
.post-body .image-caption,
.post-body .figure .caption {
  color: #999;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1;
  margin: -20px auto 15px;
  text-align: center;
}
.post-sticky-flag {
  display: inline-block;
  transform: rotate(30deg);
}
.use-motion .post-block,
.use-motion .pagination,
.use-motion .comments {
  opacity: 0;
}
.use-motion .post-header {
  opacity: 0;
}
.use-motion .post-body {
  opacity: 0;
}
.use-motion .collection-title {
  opacity: 0;
}
.post-button {
  margin-top: 40px;
}
.posts-collapse {
  margin-left: 0;
  position: relative;
  z-index: 1010;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin-left: 20px;
    margin-right: 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    text-align: left;
    width: auto;
  }
}
.posts-collapse .collection-title {
  margin: 60px 0;
  position: relative;
}
.posts-collapse .collection-title h1,
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
  margin-left: 5px;
}
.posts-collapse .collection-title::before {
  background: #bbb;
  border-radius: 50%;
  content: ' ';
  height: 8px;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-bottom: 1px dashed #ccc;
  transition-property: border;
}
.posts-collapse .post-header::before {
  background: #bbb;
  border: 1px solid #fff;
  border-radius: 50%;
  content: ' ';
  height: 6px;
  left: 0;
  margin-left: -4px;
  position: absolute;
  top: 0.75em;
  width: 6px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #222;
}
.posts-collapse .post-title {
  font-size: 1em;
  font-weight: normal;
  line-height: inherit;
  margin-bottom: 0;
  margin-left: 3.75em;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a,
.posts-collapse .post-title span.exturl {
  border-bottom: none;
  color: #666;
}
.posts-collapse .post-meta {
  font-size: 0.75em;
  left: 20px;
  position: absolute;
  top: 5px;
}
.posts-collapse::after {
  background: #f5f5f5;
  content: ' ';
  height: 100%;
  left: 0;
  margin-left: -2px;
  position: absolute;
  top: 1.25em;
  width: 4px;
  z-index: -1;
}
.posts-collapse .fa-external-link {
  font-size: 0.875em;
  margin-left: 5px;
}
.posts-expand .post-eof {
  background: #ccc;
  height: 1px;
  margin: 80px auto 60px;
  text-align: center;
  width: 8%;
}
.post:last-child .post-eof {
  display: none;
}
.posts-expand {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .posts-expand {
    margin: 0 20px;
  }
  .post-body .highlight {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
@media (max-width: 991px) {
  .posts-expand .post-body {
    text-align: justify;
  }
}
.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
  padding-top: 10px;
}
.posts-expand .post-body h2 .header-anchor,
.posts-expand .post-body h3 .header-anchor,
.posts-expand .post-body h4 .header-anchor,
.posts-expand .post-body h5 .header-anchor,
.posts-expand .post-body h6 .header-anchor {
  border-bottom-style: none;
  color: #ccc;
  float: right;
  margin-left: 10px;
  visibility: hidden;
}
.posts-expand .post-body h2 .header-anchor:hover,
.posts-expand .post-body h3 .header-anchor:hover,
.posts-expand .post-body h4 .header-anchor:hover,
.posts-expand .post-body h5 .header-anchor:hover,
.posts-expand .post-body h6 .header-anchor:hover {
  color: inherit;
}
.posts-expand .post-body h2:hover .header-anchor,
.posts-expand .post-body h3:hover .header-anchor,
.posts-expand .post-body h4:hover .header-anchor,
.posts-expand .post-body h5:hover .header-anchor,
.posts-expand .post-body h6:hover .header-anchor {
  visibility: visible;
}
.posts-expand .post-body img {
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 3px;
}
.post-gallery {
  border-collapse: separate;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.post-gallery-row {
  display: table-row;
}
.post-gallery .post-gallery-img {
  border: none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.post-gallery .post-gallery-img img {
  border: none;
  max-height: 100%;
  max-width: 100%;
}
.fancybox-close,
.fancybox-close:hover {
  border: none;
}
.posts-expand .post-meta {
  color: #999;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  margin: 3px 0 60px 0;
  text-align: center;
}
.posts-expand .post-meta .post-description {
  font-size: 0.875em;
  margin-top: 2px;
}
.posts-expand .post-meta time {
  border-bottom: 1px dashed #999;
  cursor: help;
}
.post-meta .post-meta-item + .post-meta-item::before {
  content: '|';
  margin: 0 0.5em;
}
.post-meta .post-meta-item {
  font-size: 0.75em;
}
.post-meta-divider {
  margin: 0 0.5em;
}
.post-meta-item-icon {
  margin-right: 3px;
}
@media (max-width: 991px) {
  .post-meta-item-icon {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .post-meta-item-text {
    display: none;
  }
}
.post-nav {
  border-top: 1px solid #eee;
  display: table;
  margin-top: 15px;
  width: 100%;
}
.post-nav-divider {
  display: table-cell;
  width: 10%;
}
.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  vertical-align: top;
  width: 45%;
}
.post-nav-item a {
  border-bottom: none;
  color: #555;
  display: block;
  font-size: 0.875em;
  line-height: 1.6;
  position: relative;
}
.post-nav-item a:hover {
  border-bottom: none;
  color: #222;
}
.post-nav-item a:active {
  top: 2px;
}
.post-nav-item .fa {
  font-size: 0.75em;
  margin-right: 5px;
}
.post-nav-next a {
  padding-left: 5px;
}
.post-nav-prev {
  text-align: right;
}
.post-nav-prev a {
  padding-right: 5px;
}
.post-nav-prev .fa {
  margin-left: 5px;
}
.rtl.post-body p,
.rtl.post-body a,
.rtl.post-body h1,
.rtl.post-body h2,
.rtl.post-body h3,
.rtl.post-body h4,
.rtl.post-body h5,
.rtl.post-body h6,
.rtl.post-body li,
.rtl.post-body ul,
.rtl.post-body ol {
  direction: rtl;
  font-family: UKIJ Ekran;
}
.rtl.post-title {
  font-family: UKIJ Ekran;
}
.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;
}
.posts-expand .post-tags a {
  display: inline-block;
  font-size: 0.8125em;
  margin-right: 10px;
}
.posts-expand .post-title {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-weight: 400;
  margin: initial;
  text-align: center;
}
.posts-expand .post-title-link {
  border-bottom: none;
  color: #555;
  display: inline-block;
  line-height: 1.2;
  position: relative;
  vertical-align: top;
}
.posts-expand .post-title-link::before {
  background-color: #000;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  visibility: hidden;
  width: 100%;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.posts-expand .post-title-link:hover::before {
  transform: scaleX(1);
  visibility: visible;
}
.posts-expand .post-title-link .fa {
  font-size: 0.875em;
  margin-left: 5px;
}
.page-home .post-type-quote .post-header,
.page-post-detail .post-type-quote .post-header,
.page-home .post-type-quote .post-tags,
.page-post-detail .post-type-quote .post-tags {
  display: none;
}
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
}
.post-body p a:hover {
  color: #fc6423;
  border-bottom: none;
  border-bottom: 1px solid #fc6423;
}
.my_post_copyright {
  width: 85%;
  max-width: 45em;
  margin: 2.8em auto 0;
  padding: 0.5em 1em;
  border: 1px solid #d3d3d3;
  font-size: 0.93rem;
  line-height: 1.6em;
  word-break: break-all;
  background: rgba(255,255,255,0.4);
}
.my_post_copyright p {
  margin: 0;
}
.my_post_copyright span {
  display: inline-block;
  width: 5.2em;
  color: #b5b5b5;
  font-weight: bold;
}
.my_post_copyright .raw {
  margin-left: 1em;
  width: 5em;
}
.my_post_copyright a {
  color: #808080;
  border-bottom: 0;
}
.my_post_copyright a:hover {
  color: #a3d2a3;
  text-decoration: underline;
}
.my_post_copyright:hover .fa-clipboard {
  color: #000;
}
.my_post_copyright .post-url:hover {
  font-weight: normal;
}
.my_post_copyright .copy-path {
  margin-left: 1em;
  width: 1em;
}
@media (max-width: 767px) {
  .my_post_copyright .copy-path {
    display: none;
  }
}
.my_post_copyright .copy-path:hover {
  color: #808080;
  cursor: pointer;
}
.sidebar {
  background: #222;
  bottom: 0;
  box-shadow: inset 0 2px 6px #000;
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  z-index: 1040;
}
.sidebar a,
.sidebar span.exturl {
  border-bottom-color: #555;
  color: #999;
}
.sidebar a:hover,
.sidebar span.exturl:hover {
  border-bottom-color: #eee;
  color: #eee;
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
.sidebar-inner {
  color: #999;
  padding: 20px 10px;
  position: relative;
  text-align: center;
}
.site-overview-wrap {
  overflow: hidden;
}
.site-overview {
  overflow-x: hidden;
  overflow-y: auto;
}
.cc-license {
  margin-top: 10px;
  text-align: center;
}
.cc-license .cc-opacity {
  border-bottom: none;
  opacity: 0.7;
}
.cc-license .cc-opacity:hover {
  opacity: 0.9;
}
.cc-license img {
  display: inline-block;
}
.site-author-image {
  border: 2px solid #333;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 96px;
  padding: 2px;
}
.site-author-name {
  color: #f5f5f5;
  font-weight: normal;
  margin: 5px 0 0;
  text-align: center;
}
.site-description {
  color: #999;
  font-size: 1em;
  margin-top: 5px;
  text-align: center;
}
.site-author-image {
  display: block;
  margin: 0 auto;
  padding: 2px;
  max-width: 96px;
  height: auto;
  border: 2px solid #333;
/* 头像圆形 */
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  box-shadow: inset 0 -1px 0 #333 sf;
/* 设置循环动画 [animation: (play)动画名称 (2s)动画播放时长单位秒或微秒 (ase-out)动画播放的速度曲线为以低速结束
    (1s)等待1秒然后开始动画 (1)动画播放次数(infinite为循环播放) ]*/
/* 鼠标经过头像旋转360度 */
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
  transition: transform 1s ease-out;
}
img:hover {
/* 鼠标经过停止头像旋转
  -webkit-animation-play-state:paused;
  animation-play-state:paused;*/
/* 鼠标经过头像旋转360度 */
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
@-webkit-keyframes play {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
@-moz-keyframes play {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
  }
}
@-moz-keyframes play {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@-webkit-keyframes play {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@-o-keyframes play {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes play {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
.links-of-author {
  margin-top: 20px;
}
.links-of-author a,
.links-of-author span.exturl {
  border-bottom-color: #555;
  display: inline-block;
  font-size: 0.8125em;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.links-of-author a::before,
.links-of-author span.exturl::before {
  background: #c6a6ff;
  border-radius: 50%;
  content: ' ';
  display: inline-block;
  height: 4px;
  margin-right: 3px;
  vertical-align: middle;
  width: 4px;
}
.feed-link,
.chat {
  margin-top: 10px;
}
.feed-link a,
.chat a {
  border: 1px solid #fc6423 !important;
  border-radius: 4px;
  color: #fc6423;
  display: inline-block;
  padding: 0 15px;
}
.feed-link a i,
.chat a i {
  color: #fc6423;
}
.feed-link a:hover,
.chat a:hover {
  background: #fc6423;
  color: #fff;
}
.feed-link a:hover i,
.chat a:hover i {
  color: #fff;
}
.links-of-blogroll {
  font-size: 0.8125em;
  margin-top: 10px;
}
.links-of-blogroll-title {
  font-size: 0.875em;
  font-weight: 600;
  margin-top: 0;
}
.links-of-blogroll-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.links-of-blogroll-item {
  padding: 2px 10px;
}
.links-of-blogroll-item a,
.links-of-blogroll-item span.exturl {
  box-sizing: border-box;
  display: inline-block;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sidebar-dimmer {
  display: none;
}
@media (max-width: 767px) {
  #sidebar-dimmer {
    background: #000;
    display: block;
    height: 100%;
    left: 100%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1020;
  }
  .sidebar-active + #sidebar-dimmer {
    opacity: 0.7;
    transform: translateX(-100%);
    transition: opacity 0.5s;
  }
}
.sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar-nav li {
  border-bottom: 1px solid transparent;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
}
.sidebar-nav li.sidebar-nav-overview {
  margin-left: 10px;
}
.sidebar-nav li:hover {
  color: #f5f5f5;
}
.sidebar-nav .sidebar-nav-active {
  border-bottom-color: #87daff;
  color: #87daff;
}
.sidebar-nav .sidebar-nav-active:hover {
  color: #87daff;
}
.sidebar-panel {
  display: none;
}
.sidebar-panel-active {
  display: block;
}
.sidebar-toggle {
  background: #222;
  bottom: 45px;
  cursor: pointer;
  height: 14px;
  line-height: 0;
  padding: 5px;
  position: fixed;
  right: 30px;
  width: 14px;
  z-index: 1050;
}
@media (max-width: 991px) {
  .sidebar-toggle {
    opacity: 0.8;
    right: 20px;
    display: none;
  }
}
.sidebar-toggle-line {
  background: #fff;
  display: inline-block;
  height: 2px;
  margin-top: 3px;
  position: relative;
  transition: all 0.4s;
  vertical-align: top;
  width: 100%;
}
.sidebar-toggle-line:first-child {
  margin-top: 0;
}
.sidebar-toggle:hover .sidebar-toggle-line {
  background: #87daff;
}
.post-toc-empty {
  color: #666;
  font-size: 0.875em;
}
.post-toc-wrap {
  overflow: hidden;
}
.post-toc {
  overflow: auto;
}
.post-toc ol {
  font-size: 0.875em;
  list-style: none;
  margin: 0;
  padding: 0 2px 5px 10px;
  text-align: left;
}
.post-toc ol > ol {
  padding-left: 0;
}
.post-toc ol a {
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-bottom-color: #555;
  color: #999;
  transition-property: all;
}
.post-toc ol a:hover {
  border-bottom-color: #ccc;
  color: #ccc;
}
.post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
}
.post-toc .nav .nav-child {
  display: none;
}
.post-toc .nav .active > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child {
  display: block;
}
.post-toc .nav .active-current > .nav-child > .nav-item {
  display: block;
}
.post-toc .nav .active > a {
  border-bottom-color: #87daff;
  color: #87daff;
}
.post-toc .nav .active-current > a {
  color: #87daff;
}
.post-toc .nav .active-current > a:hover {
  color: #87daff;
}
.site-state {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
.site-state-item {
  border-left: 1px solid #333;
  padding: 0 15px;
}
.site-state-item:first-child {
  border-left: none;
}
.site-state-item a {
  border-bottom: none;
}
.site-state-item-count {
  color: inherit;
  display: block;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
}
.site-state-item-name {
  color: inherit;
  font-size: 0.875em;
}
.footer {
  color: #999;
  font-size: 0.875em;
}
.footer img {
  border: none;
}
.footer-inner {
  text-align: center;
}
#animate {
  animation: iconAnimate 1.33s ease-in-out infinite;
}
.with-love {
  color: #ff0000;
  display: inline-block;
  margin: 0 5px;
}
.powered-by,
.theme-info {
  display: inline-block;
}
@-moz-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
.local-search-pop-overlay {
  background-color: rgba(0,0,0,0.3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2080;
}
.local-search-popup {
  background: #fff;
  border-radius: 5px;
  color: #333;
  display: none;
  height: 80%;
  left: 50%;
  margin-left: -350px;
  padding: 0;
  position: fixed;
  top: 10%;
  width: 700px;
  z-index: 9999;
}
@media (max-width: 767px) {
  .local-search-popup {
    border-radius: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
  }
}
.local-search-popup ul.search-result-list {
  margin: 0 5px;
  padding: 0;
}
.local-search-popup p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
.local-search-popup a.search-result-title {
  font-weight: bold;
}
.local-search-popup .search-keyword {
  border-bottom: 1px dashed #f00;
  color: #f00;
  font-weight: bold;
}
.local-search-popup .local-search-header {
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 36px;
  padding: 5px;
}
.local-search-popup #local-search-result {
  height: calc(100% - 55px);
  overflow: auto;
  padding: 5px 25px;
  position: relative;
}
.local-search-popup .local-search-input-wrapper {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  position: absolute;
  width: calc(100% - 90px);
}
.local-search-popup .local-search-input-wrapper input {
  background: transparent;
  border: none;
  display: block;
  height: 20px;
  outline: none;
  padding: 8px 0;
  vertical-align: middle;
  width: 100%;
}
.local-search-popup .search-icon,
.local-search-popup .popup-btn-close {
  color: #999;
  display: inline-block;
  font-size: 18px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  width: 18px;
}
.local-search-popup .search-icon {
  float: left;
}
.local-search-popup .popup-btn-close {
  border-left: 1px solid #eee;
  cursor: pointer;
  float: right;
}
.local-search-popup #no-result {
  color: #ccc;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.page-archive .posts-collapse .archive-move-on {
  background: #999;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 10px;
  left: 0;
  margin-left: -6px;
  position: absolute;
  top: 1em;
  width: 10px;
}
.page-archive .posts-collapse .archive-page-counter {
  font-size: 1.125em;
  left: 20px;
  position: relative;
  top: 3px;
}
@media (max-width: 767px) {
  .page-archive .posts-collapse .archive-page-counter {
    top: 5px;
  }
}
.category-all-page .category-all-title {
  text-align: center;
}
.category-all-page .category-all {
  margin-top: 20px;
}
.category-all-page .category-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-all-page .category-list-item {
  margin: 5px 10px;
}
.category-all-page .category-list-count {
  color: #bbb;
}
.category-all-page .category-list-count::before {
  content: ' (';
  display: inline;
}
.category-all-page .category-list-count::after {
  content: ') ';
  display: inline;
}
.category-all-page .category-list-child {
  padding-left: 10px;
}
#event-list {
  padding: 0px;
}
#event-list hr {
  background: #222;
  margin: 20px 0 45px 0 !important;
}
#event-list hr::after {
  background: #222;
  color: #fff;
  content: 'NOW';
  display: inline-block;
  font-weight: bold;
  padding: 0 5px;
  text-align: right;
}
#event-list li.event {
  background: #f9f9f9;
  margin: 20px 0;
  min-height: 40px;
  padding-left: 10px;
}
#event-list li.event h2.event-summary {
  margin: 0;
  padding-bottom: 3px;
}
#event-list li.event h2.event-summary::before {
  color: #bbb;
  content: '\f111';
  display: inline-block;
  font-family: FontAwesome;
  font-size: 8px;
  margin-right: 25px;
  vertical-align: middle;
}
#event-list li.event span.event-relative-time {
  color: #bbb;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
}
#event-list li.event span.event-details {
  color: #bbb;
  display: block;
  line-height: 18px;
  margin-left: 56px;
  padding-bottom: 6px;
  padding-top: 3px;
  text-indent: -24px;
}
#event-list li.event span.event-details::before {
  color: #bbb;
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 9px;
  text-align: center;
  text-indent: 0;
  width: 14px;
}
#event-list li.event span.event-details.event-location::before {
  content: '\f041';
}
#event-list li.event span.event-details.event-duration::before {
  content: '\f017';
}
#event-list li.event-past {
  background: #fcfcfc;
  padding: 15px 0 15px 10px;
}
#event-list li.event-past > * {
  opacity: 0.9;
}
#event-list li.event-past h2.event-summary {
  color: #bbb;
}
#event-list li.event-past h2.event-summary::before {
  color: #dfdfdf;
}
#event-list li.event-now {
  background: #222;
  color: #fff;
  padding: 15px 0 15px 10px;
}
#event-list li.event-now h2.event-summary::before {
  animation: dot-flash 1s alternate infinite ease-in-out;
  color: #fff;
  transform: scale(1.2);
}
#event-list li.event-now * {
  color: #fff !important;
}
#event-list li.event-future {
  background: #222;
  color: #fff;
  padding: 15px 0 15px 10px;
}
#event-list li.event-future h2.event-summary::before {
  animation: dot-flash 1s alternate infinite ease-in-out;
  color: #fff;
  transform: scale(1.2);
}
#event-list li.event-future * {
  color: #fff !important;
}
@-moz-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@-o-keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes dot-flash {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
ul.breadcrumb {
  font-size: 0.75em;
  list-style: none;
  margin: 1em 0;
  padding: 0 2em;
  text-align: center;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li::before {
  content: '/\00a0';
  font-weight: normal;
  padding: 0.5em;
}
ul.breadcrumb li+li:last-child {
  font-weight: bold;
}
.tag-cloud {
  text-align: center;
}
.tag-cloud a {
  display: inline-block;
  margin: 10px;
}
.tag-cloud a:hover {
  color: #222 !important;
}
a {
  border-bottom-color: #ccc;
}
hr {
  height: 2px;
  margin: 20px 0;
}
.main-inner {
  margin-top: 80px;
}
.header {
  background: #f5f5f5;
}
.header-inner {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.header-inner::before,
.header-inner::after {
  content: ' ';
  display: table;
}
.header-inner::after {
  clear: both;
}
@media (max-width: 767px) {
  .header-inner {
    display: block;
    padding: 10px;
    width: auto;
  }
}
.site-meta {
  float: left;
  line-height: normal;
  margin-left: -20px;
}
@media (max-width: 767px) {
  .site-meta {
    margin-left: 10px;
  }
}
.site-meta .brand {
  background: none;
  padding: 2px 1px;
}
@media (max-width: 767px) {
  .site-meta .brand {
    display: block;
  }
}
.site-meta .logo {
  display: none;
}
.site-meta .site-title {
  font-weight: bolder;
}
.logo-line-before,
.logo-line-after {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
}
@media (max-width: 767px) {
  .logo-line-before,
  .logo-line-after {
    display: none;
  }
}
.logo-line-before i,
.logo-line-after i {
  background: #222;
  display: block;
  height: 2px;
  position: relative;
}
@media (max-width: 767px) {
  .logo-line-before i,
  .logo-line-after i {
    height: 3px;
  }
}
.use-motion .logo-line-before i {
  left: -100%;
}
.use-motion .logo-line-after i {
  right: -100%;
}
.site-subtitle {
  display: none;
}
.site-brand-wrapper {
  flex-shrink: 0;
}
.site-nav-toggle {
  float: right;
  position: static;
  top: 10px;
}
.site-nav {
  flex-grow: 1;
}
@media (max-width: 767px) {
  .site-nav {
    transform: translateY(10px);
  }
}
.menu-item-active a,
.menu .menu-item a:hover,
.menu .menu-item span.exturl:hover {
  background: #e1e1e1;
}
.menu {
  margin: 0;
}
@media (max-width: 767px) {
  .menu {
    margin: 10px 0;
    padding: 0;
  }
}
.menu br {
  display: none;
}
.menu .menu-item {
  margin: 0;
}
@media (max-width: 767px) {
  .menu .menu-item {
    display: block;
    margin-top: 5px;
  }
}
.menu .menu-item .badge {
  background-color: #fff;
  border-radius: 10px;
  color: #555;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin-left: 5px;
  padding: 1px 4px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  white-space: nowrap;
}
@media (max-width: 767px) {
  .menu .menu-item .badge {
    float: right;
    margin: 0.35em 0 0 0;
  }
}
.menu .menu-item a,
.menu .menu-item span.exturl {
  border: none;
  border-radius: 2px;
  padding: 0 10px;
  transition-property: background;
}
@media (max-width: 767px) {
  .menu .menu-item a,
  .menu .menu-item span.exturl {
    text-align: left;
  }
}
@media (hover: none) {
  .menu .menu-item a:hover,
  .menu .menu-item span.exturl:hover {
    background: none;
  }
}
.menu a::before {
  display: none;
}
@media (max-width: 767px) {
  .menu a::before {
    display: block;
  }
}
@media (max-width: 767px) {
  .menu {
    float: none;
  }
}
.posts-expand {
  padding-top: 0;
}
.posts-expand .post-title,
.posts-expand .post-meta {
  text-align: left;
}
@media (max-width: 767px) {
  .posts-expand .post-title,
  .posts-expand .post-meta {
    text-align: center;
  }
}
.posts-expand .post-eof {
  display: none;
}
.posts-expand .post {
  margin-top: 120px;
}
.posts-expand .post:first-child {
  margin-top: 0;
}
.posts-expand .post-meta {
  margin-bottom: 20px;
  margin-top: 5px;
}
.posts-expand .post-title:hover::before {
  background: #222;
}
.posts-expand .post-body img {
  margin-left: 0;
}
.posts-expand .post-tags {
  text-align: left;
}
.posts-expand .post-tags a {
  background: #f5f5f5;
  border-bottom: none;
  padding: 1px 5px;
}
.posts-expand .post-tags a:hover {
  background: #ccc;
}
.posts-expand .post-nav {
  margin-top: 40px;
}
.post-button {
  margin-top: 20px;
  text-align: left;
}
.post-button a {
  background: none;
  border: none;
  border-bottom: 2px solid #666;
  font-size: 0.875em;
  padding: 0;
  transition-property: border;
}
.post-button a:hover {
  border-bottom-color: #222;
}
.sidebar {
  left: 0;
  right: auto;
}
.sidebar-toggle,
.back-to-top {
  left: 30px;
  right: auto;
}
@media (max-width: 991px) {
  .sidebar-toggle,
  .back-to-top {
    left: 20px;
  }
}
.links-of-blogroll-inline .links-of-blogroll-item {
  display: inline-block;
}
.btn {
  border-radius: 0;
  border-width: 2px;
  padding: 0 10px;
}
.headband {
  display: none;
}
@media (max-width: 767px) {
  .container .main-inner {
    width: auto;
  }
}
.page-post-detail .post-title,
.page-post-detail .post-meta {
  text-align: center;
}
.page-post-detail .post-title::before {
  display: none;
}
.page-post-detail .post-meta {
  margin-bottom: 60px;
}
.pagination {
  margin: 120px 0 0;
  text-align: left;
}
@media (max-width: 767px) {
  .pagination {
    margin: 80px 10px 0;
    text-align: center;
  }
}
.footer {
  background: #f5f5f5;
  color: #666;
  margin-top: 80px;
  padding: 10px 0;
}
.footer-inner {
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 767px) {
  .footer-inner {
    text-align: center;
    width: auto;
  }
}
